@model IEnumerable<PostViewModel>

@{
    ViewData["Title"] = "All Posts";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@ViewData["Title"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PostViewModel post in Model)
        {
            <tr>
                <th>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">@post.Title</a>
                </th>
            </tr>
        }
    </tbody>
</table>