@model  CategoryDetailsViewModel

@{ 
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <p>Title - @Model.Title</p>
    <p>Creator - @Model.Creator</p>
    <p>Created On - @Model.CreatedOn</p>
</div>